.container {
  display: flex;
  flex-direction: column; /* Stacks the child elements vertically */
  align-items: center; /* Centers the content horizontally */
  gap: 2rem; /* Adds spacing between the sections */
  margin: 0 auto; /* Ensures the container is centered */
  width: 100%;
  user-select: none;
}

h1 {
  color: var(--color-text-primary);
}
.header {
  font-size: var(--font-size-large);
  text-align: center;
}

.main {
  padding: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin: 2px 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btnSection {
  display: flex;
  gap: 10px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  flex-wrap: nowrap; /* Ensures items stay in a single row */
  width: 450px;
  max-width: 100%; /* Prevents overflow on smaller screens */
  margin: 0 auto; /* Centers the section */
  text-align: center; /* Centers inline elements */
}

@media (max-width: 768px) {
  .btnSection {
    display: flex;
    flex-direction: column;
  }
}

.cardArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .cardArea {
    grid-column: span 1;
  }
}
.main {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
