.header {
  font-size: var(--font-size-large);
  color: var(--color-text-primary);
}

.container {
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
  padding: 1.5rem;
  height: calc(100vh - var(--header-height));
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.form {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 490px;
  width: 100%;
  overflow-x: scroll;
  border-radius: var(--border-radius-medium);
}

.stepContainer {
  margin-bottom: 0.5rem;
}

.stepTitle {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.fieldsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.fieldContainer {
  margin-bottom: 0.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
  color: #333;
}

.input,
.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: var(--border-radius-medium);
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .fieldsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
