.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
}
.fundsInfo {
  padding-left: 10px;
  font-weight: bold;
}
.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);

  text-align: center;
  color: var(--color-text-primary);
}
.tableWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.tableContainer {
  width: 100%;
  max-height: 430px;
  overflow-y: auto;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-text-primary);
  background: white;
}

.allocationTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.allocationTable th {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.allocationTable td {
  padding: 16px;
  border-bottom: 1px solid #eee;
  color: var(--color-text-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.row {
  transition: background-color 0.2s ease;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.row:hover {
  background-color: #f7fafc;
}

@media (max-width: 768px) {
  .tableWrapper {
    margin-bottom: 10px;
  }

  .tableContainer {
    max-height: 400px;
  }
}

.allocateButton {
  padding: 6px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.detailsButton {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 500px;
}

.fundMatching {
  margin-top: 16px;
  padding: 16px;
  background-color: #21212136;
  border-radius: 4px;
}
.fundH {
  font-weight: var(--font-weight-bold);
  color: #333;
}
.closeButton {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

.buttonContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}
