.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.roleSelector {
  margin-bottom: 20px;
}
.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);

  text-align: center;
  color: var(--color-text-primary);
}
label {
  color: var(--color-text-primary);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
}

.roleSelector label {
  margin-right: 10px;
  font-weight: bold;
}

.roleSelector select {
  padding: 8px;
  border-radius: 4px;
}

.permissionsSection {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}
.input {
  width: 20%;
  padding: 0.5rem;
  height: 50px;
  margin: 20px 0 10px 0;
  border-radius: var(--border-radius-small);
  color: #212121;
  border: 1px solid var(--color-text-primary);
}
.permissionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px 0;
}

.permissionItem {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #333;
  border-radius: 4px;
}

.permissionItem input {
  margin-right: 8px;
}
