.container {
  position: relative;
  width: 500px;
  height: 420px;
  margin: 0 auto;
  background-color: #fbfefb;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents clicking on the icon */
  color: #555;
  font-size: 1.2rem;
}
.submitLoanContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #0f0f0f;
}

.inputField {
  margin-bottom: 1rem;
}

.label {
  font-size: var(--font-size-medium);
  color: #0f0f0f;
  font-weight: var(--font-weight-light);
}
.input {
  padding: 0.5rem;
  width: 100%;
  color: #0f0f0f;
  border-radius: var(--border-radius-medium);
  border: 1px solid #0f0f0f;
}
.inputWrapper {
  position: relative;
  width: 100%;
}

.inputRow {
  display: flex;
  gap: 1rem; /* Adjust spacing between fields */
  align-items: center; /* Align inputs properly */
}

.input::-webkit-calendar-picker-indicator {
  background: transparent; /* Remove the default calendar icon if needed */
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonSave {
  background-color: #3ad03f;
  color: white;
  padding: 10px;
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  border-radius: var(--border-radius-small);

  transition: background-color 0.3s ease-in-out;
}

.buttonSave:hover {
  background-color: #1f4a21;
}
