.uploadBox {
  position: relative;
  padding: 2rem; /* p-8 */

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* transition duration-300 */
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
}

.fileName {
  color: #333;
  width: 80%;
  margin-left: 10px;
  font-size: var(--font-size-small);
}
.fileLabel {
  color: #0f0f0f;
  margin-top: 10px;
}

.select {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius-large);

  outline: none;
  color: #0f0f0f;
}

.select:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}
.upload {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.CustomUpload {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
