.btn {
  background-color: var(--color-btn);
  margin-top: 10px;

  color: white;
  font-size: var(--font-size-medium);
  border: 0.5px solid var(--color-border-primary);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius-large);
  height: 50px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.IconBtn {
  background-color: var(--color-btn);
  color: white;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  border: 0.5px solid var(--color-border-primary);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius-large);
  height: 50px;
  width: 50px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Icon {
  color: rgb(255, 255, 255);
}
