.notificationBody {
  border-top: 1px solid #fbfefb;
  padding: 6px;
  z-index: 999;
}
.notification {
  z-index: 999;
}
.notificationContent {
  padding-left: 2px;
  width: 100%;
}

.notificationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #0f0f0f;
  font-size: var(--font-size-large);
}

.notificationName {
  font-size: var(--font-size-medium);
  color: #212121;
  margin: 0;
}

.notificationLine {
  font-size: var(--font-size-small);
  line-height: 20px;
  margin: 4px 0;
  color: #666;
}

.notificationLineTime {
  text-align: right;
  margin-bottom: 0;
  font-size: var(--font-size-small);
  color: #666;
}
/* Notification.module.css */
.notification {
  position: relative;
}

.messagesSection {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 100%;
  width: 450px;

  max-height: 400px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  z-index: 999;
  display: none;
}

/* Adjust width at different screen sizes */
@media (min-width: 1024px) {
  .messagesSection {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .messagesSection {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .messagesSection {
    width: 380px;
  }
}

@media (max-width: 400px) {
  .messagesSection {
    width: 280px;
  }
}

.messagesSectionShow {
  display: block;
}

.messagesClose {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-error);
}

.projectsSectionHeader {
  color: #0f0f0f;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.messages {
  max-height: 300px;
  overflow-y: auto;
}
.notificationIcon:hover {
  animation: bellRing 0.9s both;
}
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
